%h2 Welcome!

= form_tag :method => :post do
  #field
    = label_tag :username, 'Username'
    = text_field_tag :username
  #field
    = label_tag :password, 'Password'
    = password_field_tag :password
  = button_tag 'Log in'
